/* Global Styles */
:root {
  /* COLOURS */
  --white: : #ebdfdf;
  --accent-yellow: #da9918;
  --black: #202020;

  /* BUTTONS*/
  --border-radius: 0.5rem;
  --padding: 0.5rem 1rem;
  --font-family: ;
}

/* Reset or Normalize */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.3rem;
  color: var(--white);
}

h2 {
  font-size: 2rem;
  color: var(--white);
}

p {
  color: var(--white);
}

a {
  text-decoration: none;
}

/* Component Styles */
button {
  padding: var(--padding);
  color: var(--white);
  background-color: var(--accent-yellow);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

button:hover {
  background-color: darken(var(--primary-color), 10%);
}
